In [ ]:
import pandas as pd

# Reading data
Read the train.csv file as a pandas dataframe.

In [ ]:
df=pd.read_csv('titanic/train.csv')

In [ ]:
df.head()

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'

5. Print all information about the oldest passenger.

In [ ]:
def id_to_name(df: pd.DataFrame,id:int)->str:
    """Nombre del pasajero

    Args:
        df (pd.DataFrame): Dataframe con los datos de los pasajeros
        id (int): id del pasajero

    Returns:
        str: Nombre del pasajero
    """
    return df[df['PassengerId']==id].Name.to_string(index=False)

In [ ]:
def name_to_id(df: pd.DataFrame,name:str)->int:
    """ID del pasajero

    Args:
        df (pd.DataFrame): Dataframe con los datos de los pasajeros
        name (str): Id del pasajero

    Returns:
        int: ID del pasajero
    """
    return int(df[df['Name']==name].PassengerId.to_string(index=False))

In [ ]:
name="Montvila, Rev. Juozas"
id=name_to_id(df,name)

In [ ]:
print(f"The ID of passenger {name} is {id}")

In [ ]:
id2=42
name2=id_to_name(df,id2)

In [ ]:
print(f'The passenger with id {id2} is {name2}')

In [ ]:
pasajero_viejo=df.iloc[df['Age'].idxmax()]
pasajero_viejo

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

In [ ]:
df.columns

In [ ]:
df.loc[0:100, ["Ticket","Fare","Embarked"]].to_csv('titanic/port_fares.csv')

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

In [72]:
sobrevivientes=df[(df['Age']>60) & (df['Survived']==1)]
sobrevivientes

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN

In [73]:
len(sobrevivientes)

5

In [74]:
porcentaje=(len(sobrevivientes)/len(df))*100
porcentaje

0.5611672278338945

# Women and children first?
10. Find out if women and children were more likely to survive.

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

In [ ]:
#voy a suponer que un niño es menor a 15 años
niños=df[(df['Age']<=15) & (df['Survived']==1)]
mujeres=df[(df["Sex"]=="female") & (df["Age"]>15) & (df["Survived"]==1)]
porcentaje=(len(niños)+len(mujeres))/len(df)*100
porcentaje

20.31425364758698

In [77]:
def porcentaje(df=pd.DataFrame,serie=pd.Series)->float:
    """Porcentaje 

    Args:
        df (pd.Series): Serie de datos

    Returns:
        float: Porcentaje 
    """
    filtrado=df[serie]
    return (len(filtrado)/len(df))*100

In [78]:
porcentaje(df,df['Age']<=15)

9.31537598204265

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.

In [87]:
media=df['Age'].mean()
media

29.69911764705882

In [88]:
valores=df["Embarked"].value_counts()
valores

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64