# Reading data
Read the train.csv file as a pandas dataframe.

In [11]:
import pandas as pd
titanic = pd.read_csv('data/train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'

In [29]:
def Id_to_name(Id:int, df: pd.DataFrame) -> str:
    """Funcion que cambia el ID por el nombre del pasajero
    Args:
        Id (int): El id del pasajero
        df (pd.DataFrame): Data frame 

    Returns:
        str: El nombre del pasajero
    """
    Name = titanic[titanic.PassengerId == Id]. Name 

    return Name

Id_to_name(1, titanic)

0    Braund, Mr. Owen Harris
Name: Name, dtype: object

In [30]:
def name_to_ID(Name: str, df:pd.DataFrame) -> int:
    """Funcion que cabia el nombre del pasajero por su ID. 

    Args:
        Name (str): Nombre del Pasajero
        df (pd.DataFrame): Data Frame

    Returns:
        int: Id del pasajero
    """
    Id = titanic[titanic.PassengerName == Id]. PassengerId

    return Id

name_to_ID(1, titanic)

AttributeError: 'DataFrame' object has no attribute 'PassengerName'

In [ ]:
def mensaje_id_Nombre():

5. Print all information about the oldest passenger.

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

# Women and children first?
10. Find out if women and children were more likely to survive.

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.